{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vitória’s Festas{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS principal -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <!-- CONTEÚDO PRINCIPAL -->
    <main class="conteudo">
        <div class="caixa">
            {% block content %}
            {% endblock %}
        </div>
    </main>

</body>
</html>
